#Ignore __pycache__ and unneeded files
__pycache__/
Old/

#Ignore all plaintext files. They're most likely just reminders
*.txt

#Ignore compiled python files
*.py[cod]

#Also ignore testing scripts
*script.py
*test.py

#Ignore virtualenv suggested by the readme
env
*.egg-info
